<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.i18n_test.mapper.TranslationMapper">
    <select id="findById" resultType="com.example.i18n_test.model.Translation">
        SELECT *
        FROM translation
        WHERE id = #{id}
    </select>
    <insert id="saveTranslation">
        INSERT INTO translation (`key`)
        VALUES (#{key})
    </insert>
    <select id="findAll" resultType="com.example.i18n_test.model.Translation"> <!-- 쿼리 추가 -->
        SELECT * FROM translation
    </select>
</mapper>